.backdrop {
    -fx-background-image: url('src\main\resources\lab\backdrop.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.btn {
    -fx-background-color: rgba(0, 255, 166, 0.233);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: rgb(0, 255, 166);
    -fx-font-weight: bold;
}

.btn_hover {
    -fx-background-color: rgb(0, 255, 166);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: rgb(0, 255, 166);
    -fx-font-weight: bold;
}


.circleBtns {
    -fx-border-color: red;
    -fx-border-radius: 50%;
    -fx-background-color: rgba(255, 0, 0, 0.406);
    -fx-background-radius: 50%;
    -fx-text-fill: red;
}

.circleBtns_Click {
    -fx-border-color: red;
    -fx-border-radius: 50%;
    -fx-background-color: rgb(255, 0, 0);
    -fx-background-radius: 50%;
    -fx-text-fill: rgb(0, 0, 0);
}

.galleryBackground {
    -fx-background-color: rgb(0, 27, 118);
}


.selected {
    -fx-border-color: rgb(0, 21, 255);
    -fx-background-color: rgba(0, 221, 255, 0.409);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;


}

.homePage {
    -fx-background-color: #fdf0c4;
}