.backdrop {
    -fx-background-image: url('src\main\resources\lab\backdrop.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.btn {
    -fx-background-color: rgba(0, 255, 166, 0.233);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: rgb(0, 255, 166);
    -fx-font-weight: bold;
}

.btn :hover {
    -fx-background-color: rgb(0, 255, 166);
}


.circleBtns {
    -fx-border-color: red;
    -fx-border-radius: 50%;
    -fx-background-color: rgba(255, 0, 0, 0.406);
    -fx-background-radius: 50%;
    -fx-text-fill: red;
}

.galleryBackground {
    -fx-background-color: rgb(9, 0, 59);
}


.selected {
    border: aliceblue;
}